/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.intro h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
}

.intro p {
    text-align: center;
    font-size: 1.2em;
}

.gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.gallery-item {
    text-align: center;
    max-width: 200px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.about {
    text-align: center;
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
}

.social-icons a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
